@use 'variables' as v;

.hazes {
    background-image: url(../images/hazes.png);
    background-size: cover;
    background-repeat: repeat-x;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    animation: hazes-dynamic v.$duration_hazes_dynamic linear 1.2s forwards;
}

@keyframes hazes-dynamic {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.5;
    }

    50% {
        opacity: 0;
        background-position: -200vw;
    }

    75% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
        background-position: -400vw center;
    }
}