$color_dark: #262526;
$color_light: #F2E1C2;
$color_accent: #F23207;
$color_decor_way: #D9D9D9;

$media_size_1: 1430px;
$media_size_2: 940px;
$media_size_3: 800px;

// продолжительность анимаций
$duration_fade_in: 1.2s;
$duration_decor_way: 1.2s;
$duration_hazes_dynamic: 10s;

$second_font_family: 'BebasNeue', Arial, sans-serif;