@import url(../styles/normalize.css);
@import url(../fonts/fonts.css);

html {
    /* 10px */
    font-size: 62.5%;
}

.root {
    background: url(../images/background.jpg) center/cover no-repeat;
    height: 100vh;
    font-family: 'Montserrat', Arial, sans-serif;
}

.page {
    margin: 0 auto;
    position: relative;
    height: 100%;
}

.section {
    max-width: 120rem;
}

@media screen and (max-width: 1430px) {
    .section {
        width: 95%;
    }
}

.hazes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    opacity: 0.8;
    overflow: hidden;
}

.hazes_part-one {
    background: url(../images/haze.jpg) center/cover no-repeat;
    min-width: 192rem;
}

.hazes_part-two {
    background: url(../images/haze.jpg) center/cover no-repeat;
    min-width: 192rem;
    transform: scale(-1, 1);
}

.header {
    width: 100%;
    padding-top: 3rem;
    display: flex;
    align-items: center;
    position: absolute;
}

@media screen and (max-width: 1430px) {
    .header {
        padding-top: 2.08vw;
    }
}

.header__logo {
    width: 8.2rem;
    height: 3.6rem;
}

.navigation {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.navigation__menu {
    list-style: none;
    display: flex;
    gap: 3rem;
    padding: 0;
    margin: 0;
}

.navigation__item {
    display: flex;
}

.navigation__item__link {
    text-decoration: none;
    color: #F2E1C2;
    font-size: 1.6rem;
    font-weight: 700 500;
    line-height: 1.95rem;
}

.text-style {
    text-transform: uppercase;
}

.button {
    width: 17.9rem;
    height: 4rem;
    margin: 0 0 0 4rem;
    color: #262526;
    background-color: #F2E1C2;
    font-size: 1.6rem;
    font-weight: 700 600;
    line-height: 1.95rem;
    padding: 1rem 1.5rem;
    border-radius: 0.4rem;
    border: none;
    cursor: pointer;
}

.main-page {
    height: 100%;
    display: flex;
    align-items: center;
}

.presentation {
    padding-top: 3rem;
    position: relative;
}

.presentation__wrapper {
    position: relative;
    padding-top: 1rem;
}

.presentation__title {
    color: #F23207;
    font-size: 3.6rem;
    font-weight: 700 500;
    line-height: 4.388rem;
    letter-spacing: 0.025em;
    margin: 0 0 0 3.1rem;
}

@media screen and (max-width: 1430px) {
    .presentation__title {
        font-size: 2.5vw;
        margin-left: 2.153vw;
        line-height: 3.047vw;
    }
}

.decor-way {
    position: absolute;
    top: 0;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.decor-way__circle-first {
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background-color: #D9D9D9;
    position: absolute;
}

@media screen and (max-width: 1430px) {
    .decor-way__circle-first {
        width: 0.417vw;
        height: 0.417vw;
    }
}

.decor-way__line {
    width: 0.2rem;
    height: 100%;
    background-color: #D9D9D9;
}

@media screen and (max-width: 1430px) {
    .decor-way__line {
        width: 0.139vw;
    }
}

.decor-way__circle-second {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #D9D9D9;
    position: absolute;
    bottom: 0;
}

@media screen and (max-width:1430px) {
    .decor-way__circle-second {
        width: 0.694vw;
        height: 0.694vw;
    }
}

.presentation__content {
    position: relative;
    margin-left: 3.1rem;
}

@media screen and (max-width: 1430px) {
    .presentation__content {
        margin-left: 2.153vw;
    }
}

.presentation__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    mask-image: url(..//images/marsText.svg);
    mask-repeat: no-repeat;
}


.presentation__subtitle {
    font-family: 'BebasNeue', Arial, sans-serif;
    font-size: 71.525rem;
    font-weight: 700 700;
    line-height: 58rem;
    letter-spacing: -0.015em;
    margin: 0;
}

@media screen and (max-width: 1430px) {
    .presentation__subtitle {
        font-size: calc(715.25 * (100vw/1440));
    }
}

.popup {
    /* display: none; */
    position: fixed;
    top: 0;
    left: 0;
    background-color: #F2E1C2;
    width: 100%;
    height: 100%;
}

.popup__wrapper {
    padding-top: 10rem;
}

.popup__container {
    outline: red 1px solid;
    max-width: 120rem;
    margin: 0 auto;
    position: relative;
}

.popup__close-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 3.2rem;
    height: 3.2rem;
    background-color: #262526;
    border: none;
    background-image: url(../images/close-btn.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.popup__title {
    font-family: 'BebasNeue', Arial, sans-serif;
    font-weight: 700;
    font-size: 11.4rem;
    line-height: 11.4rem;
    letter-spacing: 0.285rem;
    margin: 0 0 8rem 0;
}

.popup__form {
    display: flex;
    flex-direction: column;
}

.popup__form-container {
    display: flex;
    gap: 2rem;
    border: none;
    padding: 0;
    margin: 0 0 6rem 0;
}

.popup__form-item {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.popup__input-title {
    font-size: 1.6rem;
    line-height: 1.95rem;
    font-weight: 700;
    color: #262526;
}

.popup__input {
    font-size: 1.6rem;
    line-height: 1.95rem;
    font-weight: 400;
    color: #262526;
    background-color: inherit;
    border: none;

    border-bottom: #262526 0.2rem solid;
}

.popup__form-btn {
    width: 38.7rem;
    height: 4rem;
    font-size: 1.6rem;
    line-height: 1.95rem;
    font-weight: 600;
    color: #F2E1C2;
    background-color: #262526;
    margin-left: auto;
    border: none;
    border-radius: 0.4rem;
}