@use 'variables' as v;
@use 'importer';

.root {
    background-image: url(../images/background.jpg);
    background-size: 134vw auto;
    background-position: center;
    height: 100vh;
    transition: background-position-x 0.4s;
}

.section {
    max-width: 120rem;

    @media screen and (max-width: v.$media_size_1) {
        width: 95%;
    }
}

.btn-hover {
    transition: all .4s ease;

    &:hover {
        background-color: v.$color_accent;
        color: v.$color_light;
    }
}

.text-style {
    text-transform: uppercase;
}